/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background: #1a1a1a;
  color: #fff;
  padding: 15px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  color: #ddd;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00e676;
}

.active {
  color: #00e676 !important;
  font-weight: bold;
}

/* CONTENT */
.content {
  width: 90%;
  margin: 100px auto 40px auto;
  min-height: calc(100vh - 180px);
}

/* FOOTER */
.footer {
  background: #1a1a1a;
  color: #ccc;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}
