<footer class="site-footer">
  <div class="footer-content">
    
    <div class="footer-col branding-col">
      <h3>🚀 DevPortfolio</h3>
      <p>La plataforma donde los mejores programadores conectan con clientes para crear soluciones increíbles.</p>
    </div>

    <div class="footer-col">
      <h4>Navegación</h4>
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/auth/login">Ingresar / Registro</a></li>
        <li><a routerLink="/">Ver Programadores</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Contacto</h4>
      <p>📧 d01072004@gmail.com</p>
      <p>📍 Cuenca, Ecuador</p>
      <p>📱 +593 98 4949744</p>
    </div>
  </div>
<div>
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b6b11248-e12c-454b-a407-7904b3a597ad/daz17dl-a7115a46-dbf5-4eb7-8170-e0ea4df23f35.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi9iNmIxMTI0OC1lMTJjLTQ1NGItYTQwNy03OTA0YjNhNTk3YWQvZGF6MTdkbC1hNzExNWE0Ni1kYmY1LTRlYjctODE3MC1lMGVhNGRmMjNmMzUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.xtKQs_PDCqp9OkbA9n_Eu2iGCR-0gk6eZG83IOlWydo" 
           alt="Logo" 
           class="footer-logo">
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 DevPortfolio. Realizado por <strong>David Villa</strong>.</p>
    <div class="social-icons">
      <a href="https://github.com/Davidvillahdz" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/david-villa-9b630b174/" target="_blank">LinkedIn</a>
    </div>
  </div>
  
</footer>